<!DOCTYPE html>
<html>
<head>
	<title>Table Design</title>

	<style type="text/css">
		.table{
				width: 1000px;
				border-collapse: collapse;
				border: 1px solid #e3e3e3;
		}

		.table thead{
			background-color: #eeeeee;
		}

		.table th{
			text-align: left;
		}
		.table tr,.table td,.table th{
				/*border: 1px solid gray;*/
				padding: 10px 15px;
		}
		.table tr:nth-child(even){
			background-color: #eeeeee;
		}
		.table tr:hover{
			background-color: #bbb;
			color: #e3e3;
		}
	</style>


</head>
<body>
	

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Position</th>
			<th>Office</th>
			<th>Age</th>
			<th>Start Date</th>
			<th>Salary</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>Tiger Nixon</td>
			<td>System Architect</td>
			<td>Edinburgh</td>
			<td>61</td>
			<td>2011/04/25</td>
			<td>$320,800</td>
		</tr>

		<tr>
			<td>Garrett Winters</td>
			<td>System Architect</td>
			<td>Edinburgh</td>
			<td>51</td>
			<td>2011/06/25</td>
			<td>$230,800</td>
		</tr>

		<tr>
			<td>Ashton</td>
			<td>System Architect</td>
			<td>Edinburgh</td>
			<td>45</td>
			<td>2012/04/25</td>
			<td>$340,800</td>
		</tr>

		<tr>
			<td>Cedric Kelly</td>
			<td>System Architect</td>
			<td>Edinburgh</td>
			<td>35</td>
			<td>2009/04/25</td>
			<td>$450,800</td>
		</tr>

		<tr>
			<td>Airi Satou</td>
			<td>System Architect</td>
			<td>Edinburgh</td>
			<td>55</td>
			<td>2008/04/25</td>
			<td>$150,800</td>
		</tr>

	</tbody>


















</table>










</body>
</html>